<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anjingang.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,253},{241,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,92}}</string>
                <key>sourceSize</key>
                <string>{241,92}</string>
            </dict>
            <key>baihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1332},{156,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,86}}</string>
                <key>sourceSize</key>
                <string>{156,86}</string>
            </dict>
            <key>bazhanghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1570},{245,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,99}}</string>
                <key>sourceSize</key>
                <string>{245,99}</string>
            </dict>
            <key>btn_bu_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1674},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>btn_bu_cs_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1590},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>btn_buzhang_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,492},{142,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,82}}</string>
                <key>sourceSize</key>
                <string>{142,82}</string>
            </dict>
            <key>btn_eat_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1947},{91,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,83}}</string>
                <key>sourceSize</key>
                <string>{91,83}</string>
            </dict>
            <key>btn_eat_cs_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1066},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>btn_gang_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1762},{82,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>btn_gang_cs_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1680},{82,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>btn_light_you.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1176},{155,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,154}}</string>
                <key>sourceSize</key>
                <string>{155,154}</string>
            </dict>
            <key>btn_pass_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1419},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>btn_peng_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1859},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>btn_peng_cs_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1844},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>btn_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1947},{85,94}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{85,94}}</string>
                <key>sourceSize</key>
                <string>{91,100}</string>
            </dict>
            <key>btn_ting_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1305},{85,94}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{85,94}}</string>
                <key>sourceSize</key>
                <string>{91,100}</string>
            </dict>
            <key>btn_win_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1594},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>btn_win_cs_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1844},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{78,79}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>dandiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,226},{168,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,104}}</string>
                <key>sourceSize</key>
                <string>{168,104}</string>
            </dict>
            <key>dandiaojinque.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,105}}</string>
                <key>sourceSize</key>
                <string>{338,105}</string>
            </dict>
            <key>dasanyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,504},{234,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,82}}</string>
                <key>sourceSize</key>
                <string>{234,82}</string>
            </dict>
            <key>dasixi.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,832},{233,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,99}}</string>
                <key>sourceSize</key>
                <string>{233,99}</string>
            </dict>
            <key>decision_sign_cs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1762},{73,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,81}}</string>
                <key>sourceSize</key>
                <string>{73,81}</string>
            </dict>
            <key>decision_sign_cs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1771},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>decision_sign_cs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1678},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>decision_sign_cs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1435},{133,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,91}}</string>
                <key>sourceSize</key>
                <string>{133,91}</string>
            </dict>
            <key>decision_sign_cs_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1947},{91,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,83}}</string>
                <key>sourceSize</key>
                <string>{91,83}</string>
            </dict>
            <key>decision_sign_cs_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1447},{142,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,74}}</string>
                <key>sourceSize</key>
                <string>{142,74}</string>
            </dict>
            <key>decision_sign_cs_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1947},{85,94}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{85,94}}</string>
                <key>sourceSize</key>
                <string>{91,100}</string>
            </dict>
            <key>dihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1509},{172,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,86}}</string>
                <key>sourceSize</key>
                <string>{172,86}</string>
            </dict>
            <key>dihujinlong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{351,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,92}}</string>
                <key>sourceSize</key>
                <string>{351,92}</string>
            </dict>
            <key>dihujinque.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{345,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,96}}</string>
                <key>sourceSize</key>
                <string>{345,96}</string>
            </dict>
            <key>dihuqingyise.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,108},{219,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,149}}</string>
                <key>sourceSize</key>
                <string>{219,149}</string>
            </dict>
            <key>doubleyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1148},{150,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,86}}</string>
                <key>sourceSize</key>
                <string>{150,86}</string>
            </dict>
            <key>duiduihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,833},{236,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,88}}</string>
                <key>sourceSize</key>
                <string>{236,88}</string>
            </dict>
            <key>eightjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1317},{252,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,93}}</string>
                <key>sourceSize</key>
                <string>{252,93}</string>
            </dict>
            <key>eightyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1509},{172,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,87}}</string>
                <key>sourceSize</key>
                <string>{172,87}</string>
            </dict>
            <key>fivejin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1061},{255,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,92}}</string>
                <key>sourceSize</key>
                <string>{255,92}</string>
            </dict>
            <key>fiveyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1507},{170,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,87}}</string>
                <key>sourceSize</key>
                <string>{170,87}</string>
            </dict>
            <key>fourjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{261,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,92}}</string>
                <key>sourceSize</key>
                <string>{261,92}</string>
            </dict>
            <key>fouryou.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1859},{164,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,87}}</string>
                <key>sourceSize</key>
                <string>{164,87}</string>
            </dict>
            <key>haoqidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1202},{232,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,95}}</string>
                <key>sourceSize</key>
                <string>{232,95}</string>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1594},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>hunyise.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1816},{213,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,86}}</string>
                <key>sourceSize</key>
                <string>{213,86}</string>
            </dict>
            <key>jingang.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,575},{182,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,92}}</string>
                <key>sourceSize</key>
                <string>{182,92}</string>
            </dict>
            <key>jinkan.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,758},{180,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,92}}</string>
                <key>sourceSize</key>
                <string>{180,92}</string>
            </dict>
            <key>jinlong.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,939},{170,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,92}}</string>
                <key>sourceSize</key>
                <string>{170,92}</string>
            </dict>
            <key>jinque.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,395},{159,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,96}}</string>
                <key>sourceSize</key>
                <string>{159,96}</string>
            </dict>
            <key>mingjingang.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,587},{240,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,93}}</string>
                <key>sourceSize</key>
                <string>{240,93}</string>
            </dict>
            <key>modi.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,99},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>pinghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1947},{147,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,91}}</string>
                <key>sourceSize</key>
                <string>{147,91}</string>
            </dict>
            <key>qiangganghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,587},{244,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,86}}</string>
                <key>sourceSize</key>
                <string>{244,86}</string>
            </dict>
            <key>qiangjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1567},{173,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,92}}</string>
                <key>sourceSize</key>
                <string>{173,92}</string>
            </dict>
            <key>qidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1682},{171,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,88}}</string>
                <key>sourceSize</key>
                <string>{171,88}</string>
            </dict>
            <key>qingyise.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1816},{222,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,98}}</string>
                <key>sourceSize</key>
                <string>{222,98}</string>
            </dict>
            <key>qingyisedandiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,346},{213,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,157}}</string>
                <key>sourceSize</key>
                <string>{213,157}</string>
            </dict>
            <key>qingyisejinlong.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,538},{218,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,152}}</string>
                <key>sourceSize</key>
                <string>{218,152}</string>
            </dict>
            <key>qingyisejinque.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,99},{218,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,153}}</string>
                <key>sourceSize</key>
                <string>{218,153}</string>
            </dict>
            <key>sanjinqingyise.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,757},{214,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,152}}</string>
                <key>sourceSize</key>
                <string>{214,152}</string>
            </dict>
            <key>sanjinyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,587},{245,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,92}}</string>
                <key>sourceSize</key>
                <string>{245,92}</string>
            </dict>
            <key>sevenjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,955},{246,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,92}}</string>
                <key>sourceSize</key>
                <string>{246,92}</string>
            </dict>
            <key>shisanyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1184},{207,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,78}}</string>
                <key>sourceSize</key>
                <string>{207,78}</string>
            </dict>
            <key>sijinqingyise.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,972},{211,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,152}}</string>
                <key>sourceSize</key>
                <string>{211,152}</string>
            </dict>
            <key>singleyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1419},{172,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,89}}</string>
                <key>sourceSize</key>
                <string>{172,89}</string>
            </dict>
            <key>sixjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,441},{258,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,92}}</string>
                <key>sourceSize</key>
                <string>{258,92}</string>
            </dict>
            <key>sixteenyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1148},{156,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,87}}</string>
                <key>sourceSize</key>
                <string>{156,87}</string>
            </dict>
            <key>sixyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1771},{168,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,87}}</string>
                <key>sourceSize</key>
                <string>{168,87}</string>
            </dict>
            <key>thirtytwoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1569},{187,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,87}}</string>
                <key>sourceSize</key>
                <string>{187,87}</string>
            </dict>
            <key>threejinhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,833},{243,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,89}}</string>
                <key>sourceSize</key>
                <string>{243,89}</string>
            </dict>
            <key>threeyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1299},{147,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,86}}</string>
                <key>sourceSize</key>
                <string>{147,86}</string>
            </dict>
            <key>tianhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1447},{146,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,84}}</string>
                <key>sourceSize</key>
                <string>{146,84}</string>
            </dict>
            <key>tianhujinlong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{338,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,92}}</string>
                <key>sourceSize</key>
                <string>{338,92}</string>
            </dict>
            <key>tianhujinque.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,108},{332,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,96}}</string>
                <key>sourceSize</key>
                <string>{332,96}</string>
            </dict>
            <key>tianhuqingyise.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,328},{209,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,149}}</string>
                <key>sourceSize</key>
                <string>{209,149}</string>
            </dict>
            <key>wujinhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,700},{254,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,92}}</string>
                <key>sourceSize</key>
                <string>{254,92}</string>
            </dict>
            <key>wushuihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1184},{233,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,90}}</string>
                <key>sourceSize</key>
                <string>{233,90}</string>
            </dict>
            <key>xianjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1741},{166,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,92}}</string>
                <key>sourceSize</key>
                <string>{166,92}</string>
            </dict>
            <key>zhahua.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1077},{167,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,98}}</string>
                <key>sourceSize</key>
                <string>{167,98}</string>
            </dict>
            <key>zimohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1435},{131,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,87}}</string>
                <key>sourceSize</key>
                <string>{131,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>changshamjbtn.png</string>
            <key>size</key>
            <string>{721,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f9e1f92671576865099a561769fb5f2:1/1$</string>
            <key>textureFileName</key>
            <string>changshamjbtn.png</string>
        </dict>
    </dict>
</plist>
