<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_checkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1381},{33,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{33,35}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>btn_checkbox_enable.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1415},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>btn_chuangjianfangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,163},{387,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,92}}</string>
                <key>sourceSize</key>
                <string>{387,92}</string>
            </dict>
            <key>btn_create.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,76}}</string>
                <key>sourceSize</key>
                <string>{342,76}</string>
            </dict>
            <key>btn_create_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{237,68}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,9},{237,68}}</string>
                <key>sourceSize</key>
                <string>{387,92}</string>
            </dict>
            <key>btn_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1187},{67,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,64}}</string>
                <key>sourceSize</key>
                <string>{67,64}</string>
            </dict>
            <key>button_copy_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{213,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,38}}</string>
                <key>sourceSize</key>
                <string>{213,38}</string>
            </dict>
            <key>button_weixin_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{213,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,38}}</string>
                <key>sourceSize</key>
                <string>{213,38}</string>
            </dict>
            <key>changtingmajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1883},{130,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,39}}</string>
                <key>sourceSize</key>
                <string>{130,39}</string>
            </dict>
            <key>changtingmajiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1696},{131,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,39}}</string>
                <key>sourceSize</key>
                <string>{131,39}</string>
            </dict>
            <key>check_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1252},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>create_room_ask.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1093},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>create_room_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{167,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,177}}</string>
                <key>sourceSize</key>
                <string>{167,177}</string>
            </dict>
            <key>create_room_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{208,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,205}}</string>
                <key>sourceSize</key>
                <string>{208,205}</string>
            </dict>
            <key>create_room_btn_checkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1570},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>create_room_btn_checkbox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2004},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>create_room_check_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1448},{33,33}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{33,33}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>create_room_check_mark2.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1142},{44,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{44,45}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>create_room_city_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{157,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,69}}</string>
                <key>sourceSize</key>
                <string>{157,69}</string>
            </dict>
            <key>create_room_city_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,921},{157,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,69}}</string>
                <key>sourceSize</key>
                <string>{157,69}</string>
            </dict>
            <key>create_room_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1309},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>create_room_edit_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{224,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,64}}</string>
                <key>sourceSize</key>
                <string>{224,64}</string>
            </dict>
            <key>create_room_exit_edit_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1939},{129,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,38}}</string>
                <key>sourceSize</key>
                <string>{129,38}</string>
            </dict>
            <key>create_room_jianbian.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1058},{34,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,53}}</string>
                <key>sourceSize</key>
                <string>{34,53}</string>
            </dict>
            <key>create_room_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{830,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{830,4}}</string>
                <key>sourceSize</key>
                <string>{832,4}</string>
            </dict>
            <key>create_room_mark_enable.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1344},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>create_room_more_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,909},{157,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,69}}</string>
                <key>sourceSize</key>
                <string>{157,69}</string>
            </dict>
            <key>create_room_more_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1963},{127,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,40}}</string>
                <key>sourceSize</key>
                <string>{127,40}</string>
            </dict>
            <key>create_room_tuceng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{199,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,56}}</string>
                <key>sourceSize</key>
                <string>{199,56}</string>
            </dict>
            <key>dehuamajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1366},{132,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,40}}</string>
                <key>sourceSize</key>
                <string>{132,40}</string>
            </dict>
            <key>dehuamajiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1185},{133,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,40}}</string>
                <key>sourceSize</key>
                <string>{133,40}</string>
            </dict>
            <key>free.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2004},{38,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{38,40}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>fuanmajiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1201},{133,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,39}}</string>
                <key>sourceSize</key>
                <string>{133,39}</string>
            </dict>
            <key>fuanmajiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1432},{132,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,39}}</string>
                <key>sourceSize</key>
                <string>{132,39}</string>
            </dict>
            <key>fujianmajiangtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{133,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{133,42}}</string>
                <key>sourceSize</key>
                <string>{137,46}</string>
            </dict>
            <key>fujianmajiangtitle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1058},{134,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{134,42}}</string>
                <key>sourceSize</key>
                <string>{138,46}</string>
            </dict>
            <key>guangze13title.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,840},{163,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,39}}</string>
                <key>sourceSize</key>
                <string>{163,39}</string>
            </dict>
            <key>guangze13title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,760},{164,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,39}}</string>
                <key>sourceSize</key>
                <string>{164,39}</string>
            </dict>
            <key>gutianmajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1679},{131,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,39}}</string>
                <key>sourceSize</key>
                <string>{131,39}</string>
            </dict>
            <key>gutianmajiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1407},{132,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,39}}</string>
                <key>sourceSize</key>
                <string>{132,39}</string>
            </dict>
            <key>icon_back_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{239,64}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,13},{239,64}}</string>
                <key>sourceSize</key>
                <string>{387,92}</string>
            </dict>
            <key>jianoumajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1159},{133,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,41}}</string>
                <key>sourceSize</key>
                <string>{133,41}</string>
            </dict>
            <key>jianoumajiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1101},{134,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,41}}</string>
                <key>sourceSize</key>
                <string>{134,41}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,278},{81,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,21}}</string>
                <key>sourceSize</key>
                <string>{81,21}</string>
            </dict>
            <key>jiaochengmajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1532},{131,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,41}}</string>
                <key>sourceSize</key>
                <string>{131,41}</string>
            </dict>
            <key>jiaochengmajiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1283},{132,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,41}}</string>
                <key>sourceSize</key>
                <string>{132,41}</string>
            </dict>
            <key>lianchengmajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1802},{130,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>lianchengmajiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1638},{131,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,40}}</string>
                <key>sourceSize</key>
                <string>{131,40}</string>
            </dict>
            <key>longyanmajiangtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1514},{131,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,41}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>longyanmajiangtitle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1268},{132,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{132,41}}</string>
                <key>sourceSize</key>
                <string>{136,45}</string>
            </dict>
            <key>minqingmajiangtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1834},{129,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,41}}</string>
                <key>sourceSize</key>
                <string>{133,45}</string>
            </dict>
            <key>minqingmajiangtitle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1736},{130,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,41}}</string>
                <key>sourceSize</key>
                <string>{134,45}</string>
            </dict>
            <key>nanping13title.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,880},{160,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>nanping13title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{161,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,40}}</string>
                <key>sourceSize</key>
                <string>{161,40}</string>
            </dict>
            <key>nanpingmajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2004},{127,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,40}}</string>
                <key>sourceSize</key>
                <string>{127,40}</string>
            </dict>
            <key>nanpingmajiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2004},{128,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,40}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>ningdemajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1241},{132,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{132,41}}</string>
                <key>sourceSize</key>
                <string>{136,45}</string>
            </dict>
            <key>ningdemajiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1143},{133,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{133,41}}</string>
                <key>sourceSize</key>
                <string>{137,45}</string>
            </dict>
            <key>pinghemajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1859},{130,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,39}}</string>
                <key>sourceSize</key>
                <string>{130,39}</string>
            </dict>
            <key>pinghemajiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1923},{129,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,39}}</string>
                <key>sourceSize</key>
                <string>{129,39}</string>
            </dict>
            <key>puchengmajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1702},{131,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,40}}</string>
                <key>sourceSize</key>
                <string>{131,40}</string>
            </dict>
            <key>puchengmajiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1351},{132,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,40}}</string>
                <key>sourceSize</key>
                <string>{132,40}</string>
            </dict>
            <key>putian13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,639},{164,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,40}}</string>
                <key>sourceSize</key>
                <string>{164,40}</string>
            </dict>
            <key>putian13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{163,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,40}}</string>
                <key>sourceSize</key>
                <string>{163,40}</string>
            </dict>
            <key>putianmajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{131,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,41}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>putianmajiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1226},{132,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{132,41}}</string>
                <key>sourceSize</key>
                <string>{136,45}</string>
            </dict>
            <key>quanzhoumajiangtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1614},{130,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,42}}</string>
                <key>sourceSize</key>
                <string>{134,46}</string>
            </dict>
            <key>quanzhoumajiangtitle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1447},{131,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,42}}</string>
                <key>sourceSize</key>
                <string>{135,46}</string>
            </dict>
            <key>redzhongtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,551},{133,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{133,43}}</string>
                <key>sourceSize</key>
                <string>{137,47}</string>
            </dict>
            <key>redzhongtitle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,595},{134,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{134,43}}</string>
                <key>sourceSize</key>
                <string>{138,47}</string>
            </dict>
            <key>sanmingmajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1843},{130,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,39}}</string>
                <key>sourceSize</key>
                <string>{130,39}</string>
            </dict>
            <key>sanmingmajiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1656},{131,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,39}}</string>
                <key>sourceSize</key>
                <string>{131,39}</string>
            </dict>
            <key>shanghangmajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1899},{129,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,39}}</string>
                <key>sourceSize</key>
                <string>{129,39}</string>
            </dict>
            <key>shanghangmajiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1819},{130,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,39}}</string>
                <key>sourceSize</key>
                <string>{130,39}</string>
            </dict>
            <key>sm13.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,720},{164,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,39}}</string>
                <key>sourceSize</key>
                <string>{164,39}</string>
            </dict>
            <key>sm131.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{163,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,39}}</string>
                <key>sourceSize</key>
                <string>{163,39}</string>
            </dict>
            <key>sm16.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,800},{163,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,39}}</string>
                <key>sourceSize</key>
                <string>{163,39}</string>
            </dict>
            <key>sm161.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,680},{164,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,39}}</string>
                <key>sourceSize</key>
                <string>{164,39}</string>
            </dict>
            <key>tabred.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1049},{157,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,66}}</string>
                <key>sourceSize</key>
                <string>{157,66}</string>
            </dict>
            <key>tabyellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,991},{157,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,66}}</string>
                <key>sourceSize</key>
                <string>{157,66}</string>
            </dict>
            <key>wupingmajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1719},{130,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,41}}</string>
                <key>sourceSize</key>
                <string>{130,41}</string>
            </dict>
            <key>wupingmajiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1472},{131,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,41}}</string>
                <key>sourceSize</key>
                <string>{131,41}</string>
            </dict>
            <key>xiamenmajiangtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1615},{131,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,40}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>
            <key>xiamenmajiangtitle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1325},{132,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{132,40}}</string>
                <key>sourceSize</key>
                <string>{136,44}</string>
            </dict>
            <key>xianyoumajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1570},{131,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,39}}</string>
                <key>sourceSize</key>
                <string>{131,39}</string>
            </dict>
            <key>xianyoumajiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1392},{132,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,39}}</string>
                <key>sourceSize</key>
                <string>{132,39}</string>
            </dict>
            <key>xinquanzhoumj.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,121},{98,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,41}}</string>
                <key>sourceSize</key>
                <string>{100,41}</string>
            </dict>
            <key>xinquanzhoumj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,79},{100,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,41}}</string>
                <key>sourceSize</key>
                <string>{100,41}</string>
            </dict>
            <key>yongdingmajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1778},{130,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>yongdingmajiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1597},{131,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,40}}</string>
                <key>sourceSize</key>
                <string>{131,40}</string>
            </dict>
            <key>zhangpingmajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1875},{128,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,41}}</string>
                <key>sourceSize</key>
                <string>{128,41}</string>
            </dict>
            <key>zhangpingmajiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1745},{129,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,41}}</string>
                <key>sourceSize</key>
                <string>{129,41}</string>
            </dict>
            <key>zhangzhoumajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1440},{129,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,43}}</string>
                <key>sourceSize</key>
                <string>{133,47}</string>
            </dict>
            <key>zhangzhoumajiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1309},{130,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,43}}</string>
                <key>sourceSize</key>
                <string>{134,47}</string>
            </dict>
            <key>zhangzhoumajiangtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1574},{131,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,40}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>
            <key>zhangzhoumajiangtitle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1310},{132,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{132,40}}</string>
                <key>sourceSize</key>
                <string>{136,44}</string>
            </dict>
            <key>zhuanzhuanmajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1761},{130,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,40}}</string>
                <key>sourceSize</key>
                <string>{134,44}</string>
            </dict>
            <key>zhuanzhuanmajiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1556},{131,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,40}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>create_room.png</string>
            <key>size</key>
            <string>{351,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8350997f0b7720d67116504f9f0a93bd:1/1$</string>
            <key>textureFileName</key>
            <string>create_room.png</string>
        </dict>
    </dict>
</plist>
