<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,64},{168,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,50}}</string>
                <key>sourceSize</key>
                <string>{168,50}</string>
            </dict>
            <key>btn_playhelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,188},{137,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,48}}</string>
                <key>sourceSize</key>
                <string>{137,48}</string>
            </dict>
            <key>icon_applyjoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,190},{152,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,41}}</string>
                <key>sourceSize</key>
                <string>{152,41}</string>
            </dict>
            <key>icon_ask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,177},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>icon_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,184},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,30}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>icon_canceled.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,64},{123,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,66}}</string>
                <key>sourceSize</key>
                <string>{123,66}</string>
            </dict>
            <key>icon_create_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,2},{160,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,175}}</string>
                <key>sourceSize</key>
                <string>{160,175}</string>
            </dict>
            <key>icon_create_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,2},{146,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,208}}</string>
                <key>sourceSize</key>
                <string>{146,208}</string>
            </dict>
            <key>icon_current.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,110},{126,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,105}}</string>
                <key>sourceSize</key>
                <string>{126,105}</string>
            </dict>
            <key>icon_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,136},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>icon_guild_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,171},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,32}}</string>
                <key>sourceSize</key>
                <string>{63,32}</string>
            </dict>
            <key>icon_guild_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,94},{79,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,85}}</string>
                <key>sourceSize</key>
                <string>{79,85}</string>
            </dict>
            <key>icon_guild_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,149},{80,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>icon_guild_request_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,131},{127,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,35}}</string>
                <key>sourceSize</key>
                <string>{127,35}</string>
            </dict>
            <key>icon_guild_title_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{295,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,62}}</string>
                <key>sourceSize</key>
                <string>{295,62}</string>
            </dict>
            <key>icon_guildinvite.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,2},{287,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,61}}</string>
                <key>sourceSize</key>
                <string>{287,61}</string>
            </dict>
            <key>icon_guildmsg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{287,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,61}}</string>
                <key>sourceSize</key>
                <string>{287,61}</string>
            </dict>
            <key>icon_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,97},{79,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,84}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>icon_help1.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,69},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>icon_ignore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,174},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>icon_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,171},{65,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,34}}</string>
                <key>sourceSize</key>
                <string>{65,34}</string>
            </dict>
            <key>icon_invite_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,136},{65,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,34}}</string>
                <key>sourceSize</key>
                <string>{65,34}</string>
            </dict>
            <key>icon_invited.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,110},{123,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,68}}</string>
                <key>sourceSize</key>
                <string>{123,68}</string>
            </dict>
            <key>icon_inviteonline.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,2},{279,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,53}}</string>
                <key>sourceSize</key>
                <string>{279,53}</string>
            </dict>
            <key>icon_joinguild.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{295,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,61}}</string>
                <key>sourceSize</key>
                <string>{295,61}</string>
            </dict>
            <key>icon_member.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,136},{159,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,34}}</string>
                <key>sourceSize</key>
                <string>{159,34}</string>
            </dict>
            <key>icon_my_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,202},{159,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,34}}</string>
                <key>sourceSize</key>
                <string>{159,34}</string>
            </dict>
            <key>icon_nowgo.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,194},{152,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,42}}</string>
                <key>sourceSize</key>
                <string>{152,42}</string>
            </dict>
            <key>icon_nowjoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,149},{154,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,40}}</string>
                <key>sourceSize</key>
                <string>{154,40}</string>
            </dict>
            <key>icon_onekeyinvite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,149},{125,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,34}}</string>
                <key>sourceSize</key>
                <string>{125,34}</string>
            </dict>
            <key>icon_onekeyinvite_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,110},{125,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,34}}</string>
                <key>sourceSize</key>
                <string>{125,34}</string>
            </dict>
            <key>icon_quitguild.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,56},{178,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,41}}</string>
                <key>sourceSize</key>
                <string>{178,41}</string>
            </dict>
            <key>icon_rect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,74}}</string>
                <key>sourceSize</key>
                <string>{494,74}</string>
            </dict>
            <key>icon_rect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,64},{280,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,4}}</string>
                <key>sourceSize</key>
                <string>{280,4}</string>
            </dict>
            <key>icon_rect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,115},{72,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,138}}</string>
                <key>sourceSize</key>
                <string>{72,138}</string>
            </dict>
            <key>icon_rect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,163},{71,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,119}}</string>
                <key>sourceSize</key>
                <string>{71,119}</string>
            </dict>
            <key>icon_rect5.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,171},{59,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,134}}</string>
                <key>sourceSize</key>
                <string>{59,134}</string>
            </dict>
            <key>icon_rect6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,136},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>icon_rect7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,190},{48,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>icon_rect8.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,115},{78,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,63}}</string>
                <key>sourceSize</key>
                <string>{78,63}</string>
            </dict>
            <key>icon_rect_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,184},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>icon_rect_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,149},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>icon_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,94},{151,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,41}}</string>
                <key>sourceSize</key>
                <string>{151,41}</string>
            </dict>
            <key>icon_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{159,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,34}}</string>
                <key>sourceSize</key>
                <string>{159,34}</string>
            </dict>
            <key>icon_shape1.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,69},{211,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,40}}</string>
                <key>sourceSize</key>
                <string>{211,40}</string>
            </dict>
            <key>icon_shape2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,98},{167,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,50}}</string>
                <key>sourceSize</key>
                <string>{167,50}</string>
            </dict>
            <key>icon_shape3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,2},{136,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,47}}</string>
                <key>sourceSize</key>
                <string>{136,47}</string>
            </dict>
            <key>icon_shape4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,2},{252,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,91}}</string>
                <key>sourceSize</key>
                <string>{252,91}</string>
            </dict>
            <key>icon_shape5.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,167},{6,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,119}}</string>
                <key>sourceSize</key>
                <string>{6,119}</string>
            </dict>
            <key>icon_shape6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,163},{81,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,61}}</string>
                <key>sourceSize</key>
                <string>{81,61}</string>
            </dict>
            <key>icon_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,56},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>icon_title_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,77},{228,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,58}}</string>
                <key>sourceSize</key>
                <string>{228,58}</string>
            </dict>
            <key>lan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2003,139},{78,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild.png</string>
            <key>size</key>
            <string>{2048,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:283bb9205919cd7de5d046474b83d4bc:1/1$</string>
            <key>textureFileName</key>
            <string>guild.png</string>
        </dict>
    </dict>
</plist>
