<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_shop_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,773},{147,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,82}}</string>
                <key>sourceSize</key>
                <string>{147,82}</string>
            </dict>
            <key>charge_limit_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,862},{98,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,70}}</string>
                <key>sourceSize</key>
                <string>{98,70}</string>
            </dict>
            <key>icon_buy_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{183,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,49}}</string>
                <key>sourceSize</key>
                <string>{183,49}</string>
            </dict>
            <key>icon_fangka_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,477},{114,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,62}}</string>
                <key>sourceSize</key>
                <string>{114,62}</string>
            </dict>
            <key>icon_sale_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,791},{98,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,70}}</string>
                <key>sourceSize</key>
                <string>{98,70}</string>
            </dict>
            <key>icon_shop_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,856},{92,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,69}}</string>
                <key>sourceSize</key>
                <string>{92,69}</string>
            </dict>
            <key>icon_shop_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{183,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,50}}</string>
                <key>sourceSize</key>
                <string>{183,50}</string>
            </dict>
            <key>icon_shop_ten.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,791},{55,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,46}}</string>
                <key>sourceSize</key>
                <string>{55,46}</string>
            </dict>
            <key>icon_title_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,862},{107,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{107,56}}</string>
                <key>sourceSize</key>
                <string>{109,58}</string>
            </dict>
            <key>n_charge_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,349}}</string>
                <key>sourceSize</key>
                <string>{360,349}</string>
            </dict>
            <key>n_charge_bg1_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,901},{80,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,77}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>n_charge_chongzhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,734},{148,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,38}}</string>
                <key>sourceSize</key>
                <string>{148,38}</string>
            </dict>
            <key>n_charge_chongzhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,695},{148,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,38}}</string>
                <key>sourceSize</key>
                <string>{148,38}</string>
            </dict>
            <key>n_charge_duihuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,856},{145,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,38}}</string>
                <key>sourceSize</key>
                <string>{145,38}</string>
            </dict>
            <key>n_charge_duihuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{145,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,38}}</string>
                <key>sourceSize</key>
                <string>{145,38}</string>
            </dict>
            <key>n_charge_item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,540},{154,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{154,165}}</string>
                <key>sourceSize</key>
                <string>{156,165}</string>
            </dict>
            <key>n_charge_item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{191,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{191,166}}</string>
                <key>sourceSize</key>
                <string>{193,166}</string>
            </dict>
            <key>n_charge_item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{221,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{221,170}}</string>
                <key>sourceSize</key>
                <string>{223,170}</string>
            </dict>
            <key>n_charge_limit_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,862},{98,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,70}}</string>
                <key>sourceSize</key>
                <string>{98,70}</string>
            </dict>
            <key>n_icon_sale_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,791},{98,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,70}}</string>
                <key>sourceSize</key>
                <string>{98,70}</string>
            </dict>
            <key>n_icon_shop_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,949},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>n_icon_shop_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,352},{124,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,135}}</string>
                <key>sourceSize</key>
                <string>{124,135}</string>
            </dict>
            <key>n_icon_shop_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,856},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>n_icon_shop_min.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,961},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>n_icon_shop_reduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,477},{55,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,18}}</string>
                <key>sourceSize</key>
                <string>{55,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_shop.png</string>
            <key>size</key>
            <string>{364,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:608b0fb13d78a5012db5f83512da56e3:1/1$</string>
            <key>textureFileName</key>
            <string>new_shop.png</string>
        </dict>
    </dict>
</plist>
