<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>new_chat_btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{148,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,76}}</string>
                <key>sourceSize</key>
                <string>{148,76}</string>
            </dict>
            <key>new_chat_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,160},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>new_chat_common2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,150},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>new_chat_emoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>new_chat_emoji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,150},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>new_chat_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,56},{99,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,103}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>new_chat_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{424,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,53}}</string>
                <key>sourceSize</key>
                <string>{424,53}</string>
            </dict>
            <key>new_chat_not_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,56},{93,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,200}}</string>
                <key>sourceSize</key>
                <string>{93,200}</string>
            </dict>
            <key>new_chat_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,160},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>new_chat_record2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,150},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,59}</string>
            </dict>
            <key>new_chat_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{93,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,200}}</string>
                <key>sourceSize</key>
                <string>{93,200}</string>
            </dict>
            <key>new_chat_words_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,150},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_chat.png</string>
            <key>size</key>
            <string>{507,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:889f05cfb1b644f25a9b7d0a679e8f24:1/1$</string>
            <key>textureFileName</key>
            <string>new_chat.png</string>
        </dict>
    </dict>
</plist>
