<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{257,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{257,86}}</string>
                <key>sourceSize</key>
                <string>{263,86}</string>
            </dict>
            <key>btn_blue_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,1090},{234,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,94}}</string>
                <key>sourceSize</key>
                <string>{236,94}</string>
            </dict>
            <key>btn_blue_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1443},{116,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,56}}</string>
                <key>sourceSize</key>
                <string>{116,56}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1629},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>btn_copy_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,185},{185,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,56}}</string>
                <key>sourceSize</key>
                <string>{185,56}</string>
            </dict>
            <key>btn_tap_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,823},{266,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,70}}</string>
                <key>sourceSize</key>
                <string>{266,70}</string>
            </dict>
            <key>btn_tap_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,555},{267,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,71}}</string>
                <key>sourceSize</key>
                <string>{267,71}</string>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{257,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{257,86}}</string>
                <key>sourceSize</key>
                <string>{263,86}</string>
            </dict>
            <key>btn_yellow_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{236,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,94}}</string>
                <key>sourceSize</key>
                <string>{236,94}</string>
            </dict>
            <key>btn_yellow_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1326},{116,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,56}}</string>
                <key>sourceSize</key>
                <string>{116,56}</string>
            </dict>
            <key>icon_btn_appeal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1060},{178,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,45}}</string>
                <key>sourceSize</key>
                <string>{178,45}</string>
            </dict>
            <key>icon_btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1796},{93,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,49}}</string>
                <key>sourceSize</key>
                <string>{93,49}</string>
            </dict>
            <key>icon_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1890},{92,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,49}}</string>
                <key>sourceSize</key>
                <string>{92,49}</string>
            </dict>
            <key>icon_btn_gotit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1239},{177,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,45}}</string>
                <key>sourceSize</key>
                <string>{177,45}</string>
            </dict>
            <key>icon_btn_goto.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1749},{93,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,49}}</string>
                <key>sourceSize</key>
                <string>{93,49}</string>
            </dict>
            <key>icon_btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1654},{94,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,49}}</string>
                <key>sourceSize</key>
                <string>{94,49}</string>
            </dict>
            <key>icon_btn_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1559},{94,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,49}}</string>
                <key>sourceSize</key>
                <string>{94,49}</string>
            </dict>
            <key>icon_open_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,371},{183,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,49}}</string>
                <key>sourceSize</key>
                <string>{183,49}</string>
            </dict>
            <key>new_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{83,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,77}}</string>
                <key>sourceSize</key>
                <string>{83,77}</string>
            </dict>
            <key>new_btn_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{182,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,60}}</string>
                <key>sourceSize</key>
                <string>{182,60}</string>
            </dict>
            <key>new_btn_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{304,95}}</string>
                <key>sourceSize</key>
                <string>{306,95}</string>
            </dict>
            <key>new_icon_allow.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1843},{87,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,46}}</string>
                <key>sourceSize</key>
                <string>{87,46}</string>
            </dict>
            <key>new_icon_commit.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1890},{87,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,45}}</string>
                <key>sourceSize</key>
                <string>{87,45}</string>
            </dict>
            <key>new_icon_copy_onekey.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1417},{164,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,42}}</string>
                <key>sourceSize</key>
                <string>{164,42}</string>
            </dict>
            <key>new_icon_go_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,1325},{170,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,46}}</string>
                <key>sourceSize</key>
                <string>{170,46}</string>
            </dict>
            <key>new_icon_noallow.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,1496},{132,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,46}}</string>
                <key>sourceSize</key>
                <string>{132,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_public_btn.png</string>
            <key>size</key>
            <string>{162,1979}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e7080e834199bb9b6f1fe9e5927d267:1/1$</string>
            <key>textureFileName</key>
            <string>new_public_btn.png</string>
        </dict>
    </dict>
</plist>
