<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pi_bindphone_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,262},{257,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{257,58}}</string>
                <key>sourceSize</key>
                <string>{259,58}</string>
            </dict>
            <key>pi_btn_bindingphone.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,280},{145,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,58}}</string>
                <key>sourceSize</key>
                <string>{145,58}</string>
            </dict>
            <key>pi_btn_bindphone.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,105},{174,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,58}}</string>
                <key>sourceSize</key>
                <string>{174,58}</string>
            </dict>
            <key>pi_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,215},{214,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,58}}</string>
                <key>sourceSize</key>
                <string>{214,58}</string>
            </dict>
            <key>pi_btn_getcode.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,686},{164,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,65}}</string>
                <key>sourceSize</key>
                <string>{164,65}</string>
            </dict>
            <key>pi_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,215},{214,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,58}}</string>
                <key>sourceSize</key>
                <string>{214,58}</string>
            </dict>
            <key>pi_chang_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,426},{207,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,42}}</string>
                <key>sourceSize</key>
                <string>{207,42}</string>
            </dict>
            <key>pi_change_one.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,681},{111,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,40}}</string>
                <key>sourceSize</key>
                <string>{111,40}</string>
            </dict>
            <key>pi_change_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{259,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,58}}</string>
                <key>sourceSize</key>
                <string>{259,58}</string>
            </dict>
            <key>pi_char_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,771},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>pi_frame_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,517}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,517}}</string>
                <key>sourceSize</key>
                <string>{260,517}</string>
            </dict>
            <key>pi_get_code.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,671},{165,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,38}}</string>
                <key>sourceSize</key>
                <string>{165,38}</string>
            </dict>
            <key>pi_head_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>pi_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,520},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>pi_icon_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,105},{41,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{41,50}</string>
            </dict>
            <key>pi_icon_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pi_icon_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,634},{200,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,56}}</string>
                <key>sourceSize</key>
                <string>{200,56}</string>
            </dict>
            <key>pi_icon_use.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,722},{92,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,48}}</string>
                <key>sourceSize</key>
                <string>{92,48}</string>
            </dict>
            <key>pi_lock_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,771},{45,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,53}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>pi_phone_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,825},{36,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,55}}</string>
                <key>sourceSize</key>
                <string>{36,55}</string>
            </dict>
            <key>pi_play_emoji_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,430},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pi_play_emoji_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{151,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,152}}</string>
                <key>sourceSize</key>
                <string>{151,152}</string>
            </dict>
            <key>pi_play_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,559},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>pi_small_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{212,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,73}}</string>
                <key>sourceSize</key>
                <string>{212,73}</string>
            </dict>
            <key>pi_sure_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,671},{166,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,42}}</string>
                <key>sourceSize</key>
                <string>{166,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_playerinfo.png</string>
            <key>size</key>
            <string>{500,863}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b9507aad85bbec74ef47cb5af35e90b:1/1$</string>
            <key>textureFileName</key>
            <string>new_playerinfo.png</string>
        </dict>
    </dict>
</plist>
