<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head_frame_11000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,823},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>head_frame_11001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{144,124}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{144,124}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_11002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{138,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{138,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_11003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,951},{126,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{126,116}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_11004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1407},{106,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,22},{106,116}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_11005.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,462},{102,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{102,100}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_11006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{98,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,18},{98,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_11007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1514},{114,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,24},{114,112}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_11008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{104,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,15},{104,128}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_11009.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1394},{116,112}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{116,112}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_12001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1191},{116,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{116,124}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_12002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{154,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{154,118}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_12003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{156,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{156,124}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_12004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{122,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{122,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_12005.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1279},{114,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,19},{114,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_12006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,914},{120,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{120,124}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_12007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1068},{124,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{124,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_13001.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1164},{114,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,18},{114,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_13002.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,793},{120,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,21},{120,118}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_13003.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1039},{116,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{116,124}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_13004.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1514},{106,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{106,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_13005.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,563},{100,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{100,116}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_13006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,100}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{158,100}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_13007.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,680},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{108,112}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>head_frame_13008.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,347},{114,102}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,31},{114,102}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_headframe.png</string>
            <key>size</key>
            <string>{252,1633}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aca90be9967c92c9ca7fc99d6fe3fc24:1/1$</string>
            <key>textureFileName</key>
            <string>new_headframe.png</string>
        </dict>
    </dict>
</plist>
