<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>best_gunner_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,156},{92,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{92,98}}</string>
			<key>sourceSize</key>
			<string>{94,98}</string>
		</dict>
		<key>big_winner_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{576,2},{257,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{257,96}}</string>
			<key>sourceSize</key>
			<string>{257,96}</string>
		</dict>
		<key>border_loser.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,2},{286,450}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{286,450}}</string>
			<key>sourceSize</key>
			<string>{286,450}</string>
		</dict>
		<key>border_winer.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{286,450}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{286,450}}</string>
			<key>sourceSize</key>
			<string>{286,450}</string>
		</dict>
		<key>btn_huapai.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,2},{153,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,51}}</string>
			<key>sourceSize</key>
			<string>{153,51}</string>
		</dict>
		<key>end_owner.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,434},{71,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,28}}</string>
			<key>sourceSize</key>
			<string>{71,28}</string>
		</dict>
		<key>icon_continue.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,453},{94,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,50}}</string>
			<key>sourceSize</key>
			<string>{94,50}</string>
		</dict>
		<key>icon_hu_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,390},{88,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,87}}</string>
			<key>sourceSize</key>
			<string>{88,87}</string>
		</dict>
		<key>icon_report_close.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,385},{91,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,48}}</string>
			<key>sourceSize</key>
			<string>{91,48}</string>
		</dict>
		<key>icon_title_flow.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,260},{129,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,73}}</string>
			<key>sourceSize</key>
			<string>{129,73}</string>
		</dict>
		<key>icon_title_lose.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,2},{130,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,74}}</string>
			<key>sourceSize</key>
			<string>{130,74}</string>
		</dict>
		<key>icon_title_report.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,453},{159,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{159,57}}</string>
			<key>sourceSize</key>
			<string>{159,59}</string>
		</dict>
		<key>icon_title_win.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,255},{129,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,75}}</string>
			<key>sourceSize</key>
			<string>{129,75}</string>
		</dict>
		<key>icon_total.png</key>
		<dict>
			<key>frame</key>
			<string>{{576,260},{191,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,42}}</string>
			<key>sourceSize</key>
			<string>{191,42}</string>
		</dict>
		<key>icon_zhuang_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,463},{43,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,43}}</string>
			<key>sourceSize</key>
			<string>{43,43}</string>
		</dict>
		<key>n_icon_copy_total.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,453},{228,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{228,49}}</string>
			<key>sourceSize</key>
			<string>{228,49}</string>
		</dict>
		<key>n_lostall.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,453},{92,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,53}}</string>
			<key>sourceSize</key>
			<string>{92,53}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>new_report.png</string>
		<key>size</key>
		<string>{801,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5e6d701513c0de9c2ff36d6100354f02:1/1$</string>
		<key>textureFileName</key>
		<string>new_report.png</string>
	</dict>
</dict>
</plist>
