<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>head_img_female.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,7},{102,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,102}}</string>
			<key>sourceSize</key>
			<string>{102,102}</string>
		</dict>
		<key>head_img_male.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,2},{102,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,102}}</string>
			<key>sourceSize</key>
			<string>{102,102}</string>
		</dict>
		<key>icon_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,8},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>icon_frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,105},{44,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,44}}</string>
			<key>sourceSize</key>
			<string>{44,44}</string>
		</dict>
		<key>icon_frame1.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,7},{54,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,46}}</string>
			<key>sourceSize</key>
			<string>{54,46}</string>
		</dict>
		<key>icon_head_frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,7},{155,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,157}}</string>
			<key>sourceSize</key>
			<string>{155,157}</string>
		</dict>
		<key>icon_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{4,402}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,402}}</string>
			<key>sourceSize</key>
			<string>{4,402}</string>
		</dict>
		<key>icon_loading_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,2},{102,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,102}}</string>
			<key>sourceSize</key>
			<string>{102,102}</string>
		</dict>
		<key>icon_loading_touzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,105},{69,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,76}}</string>
			<key>sourceSize</key>
			<string>{69,76}</string>
		</dict>
		<key>icon_main_head_frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,96},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>icon_men.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,54},{37,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,41}}</string>
			<key>sourceSize</key>
			<string>{37,41}</string>
		</dict>
		<key>icon_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,141},{39,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,34}}</string>
			<key>sourceSize</key>
			<string>{39,34}</string>
		</dict>
		<key>icon_role.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,2},{176,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,207}}</string>
			<key>sourceSize</key>
			<string>{176,207}</string>
		</dict>
		<key>icon_women.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,96},{30,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,44}}</string>
			<key>sourceSize</key>
			<string>{30,44}</string>
		</dict>
		<key>new_public_icon_hot.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,110},{69,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,63}}</string>
			<key>sourceSize</key>
			<string>{69,63}</string>
		</dict>
		<key>new_public_icon_new.png</key>
		<dict>
			<key>frame</key>
			<string>{{690,105},{69,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,63}}</string>
			<key>sourceSize</key>
			<string>{69,63}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>new_public_icon.png</string>
		<key>size</key>
		<string>{820,180}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:051b1d7ab176eba803f9a09d134bcebf:1/1$</string>
		<key>textureFileName</key>
		<string>new_public_icon.png</string>
	</dict>
</dict>
</plist>
