<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>joinroom_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{273,89}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{273,89}}</string>
                <key>sourceSize</key>
                <string>{291,89}</string>
            </dict>
            <key>joinroom_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{273,89}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{273,89}}</string>
                <key>sourceSize</key>
                <string>{291,89}</string>
            </dict>
            <key>joinroom_icon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,61},{103,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,45}}</string>
                <key>sourceSize</key>
                <string>{103,45}</string>
            </dict>
            <key>joinroom_icon_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,61},{108,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,52}}</string>
                <key>sourceSize</key>
                <string>{108,52}</string>
            </dict>
            <key>joinroom_icon_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_joinroom.png</string>
            <key>size</key>
            <string>{764,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99822c6abb7740cebb6a37095f05bf2d:1/1$</string>
            <key>textureFileName</key>
            <string>new_joinroom.png</string>
        </dict>
    </dict>
</plist>
