<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bxgh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,170}</string>
                <key>spriteSourceSize</key>
                <string>{540,170}</string>
                <key>textureRect</key>
                <string>{{0,0},{540,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cys.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,170}</string>
                <key>spriteSourceSize</key>
                <string>{400,170}</string>
                <key>textureRect</key>
                <string>{{540,0},{400,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ldb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,170}</string>
                <key>spriteSourceSize</key>
                <string>{400,170}</string>
                <key>textureRect</key>
                <string>{{940,0},{400,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>llds.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,170}</string>
                <key>spriteSourceSize</key>
                <string>{540,170}</string>
                <key>textureRect</key>
                <string>{{1340,0},{540,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,170}</string>
                <key>spriteSourceSize</key>
                <string>{280,170}</string>
                <key>textureRect</key>
                <string>{{0,170},{280,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,170}</string>
                <key>spriteSourceSize</key>
                <string>{280,170}</string>
                <key>textureRect</key>
                <string>{{280,170},{280,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qxgz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,170}</string>
                <key>spriteSourceSize</key>
                <string>{540,170}</string>
                <key>textureRect</key>
                <string>{{560,170},{540,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sehz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,170}</string>
                <key>spriteSourceSize</key>
                <string>{540,170}</string>
                <key>textureRect</key>
                <string>{{1100,170},{540,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sftx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,170}</string>
                <key>spriteSourceSize</key>
                <string>{540,170}</string>
                <key>textureRect</key>
                <string>{{0,340},{540,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ssz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,170}</string>
                <key>spriteSourceSize</key>
                <string>{400,170}</string>
                <key>textureRect</key>
                <string>{{540,340},{400,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,170}</string>
                <key>spriteSourceSize</key>
                <string>{400,170}</string>
                <key>textureRect</key>
                <string>{{940,340},{400,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sths.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,170}</string>
                <key>spriteSourceSize</key>
                <string>{540,170}</string>
                <key>textureRect</key>
                <string>{{1340,340},{540,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stst.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,170}</string>
                <key>spriteSourceSize</key>
                <string>{540,170}</string>
                <key>textureRect</key>
                <string>{{0,510},{540,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wdst.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,170}</string>
                <key>spriteSourceSize</key>
                <string>{540,170}</string>
                <key>textureRect</key>
                <string>{{540,510},{540,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ytl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,170}</string>
                <key>spriteSourceSize</key>
                <string>{400,170}</string>
                <key>textureRect</key>
                <string>{{1080,510},{400,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zzql.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,170}</string>
                <key>spriteSourceSize</key>
                <string>{540,170}</string>
                <key>textureRect</key>
                <string>{{1480,510},{540,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tspx.png</string>
            <key>size</key>
            <string>{2020,680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75f0b0f0802a4a1b280e4840da1cd0f5:f95cb1e5a4f9534fcb56005f0eb4d87c:5621af9c578797c0b62e85bcb9e99be6$</string>
            <key>textureFileName</key>
            <string>tspx.png</string>
        </dict>
    </dict>
</plist>
