<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paibei-red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,234}</string>
                <key>spriteSourceSize</key>
                <string>{154,234}</string>
                <key>textureRect</key>
                <string>{{0,0},{154,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>黑透明.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,234}</string>
                <key>spriteSourceSize</key>
                <string>{154,234}</string>
                <key>textureRect</key>
                <string>{{154,0},{154,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paibei.png</string>
            <key>size</key>
            <string>{308,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85ec183adce9e251773e899c68b46142:3100699f8b59d3daab895f2bcced04ec:b1d36fab393f4e8b48a318eb4181420c$</string>
            <key>textureFileName</key>
            <string>paibei.png</string>
        </dict>
    </dict>
</plist>
