<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{752,287},{257,86}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{257,86}}</string>
			<key>sourceSize</key>
			<string>{263,86}</string>
		</dict>
		<key>btn_guest_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,192},{314,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,94}}</string>
			<key>sourceSize</key>
			<string>{314,94}</string>
		</dict>
		<key>btn_guest_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,97},{314,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,94}}</string>
			<key>sourceSize</key>
			<string>{314,94}</string>
		</dict>
		<key>btn_phone_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,2},{317,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{317,94}}</string>
			<key>sourceSize</key>
			<string>{317,94}</string>
		</dict>
		<key>btn_phone_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,395},{317,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{317,94}}</string>
			<key>sourceSize</key>
			<string>{317,94}</string>
		</dict>
		<key>btn_wx_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,395},{317,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{317,94}}</string>
			<key>sourceSize</key>
			<string>{317,94}</string>
		</dict>
		<key>btn_wx_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,395},{317,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{317,94}}</string>
			<key>sourceSize</key>
			<string>{317,94}</string>
		</dict>
		<key>login_slider.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,376},{741,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{741,18}}</string>
			<key>sourceSize</key>
			<string>{741,18}</string>
		</dict>
		<key>login_slider_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,349},{749,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{749,26}}</string>
			<key>sourceSize</key>
			<string>{749,26}</string>
		</dict>
		<key>login_touzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{956,374},{48,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,49}}</string>
			<key>sourceSize</key>
			<string>{48,49}</string>
		</dict>
		<key>logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{726,346}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{726,346}}</string>
			<key>sourceSize</key>
			<string>{726,352}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>new_login.png</string>
		<key>size</key>
		<string>{1048,491}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f4d2b9de141991a1d9a07edce162cf7f:1/1$</string>
		<key>textureFileName</key>
		<string>new_login.png</string>
	</dict>
</dict>
</plist>
