<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanjun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,77}</string>
                <key>spriteSourceSize</key>
                <string>{87,77}</string>
                <key>textureRect</key>
                <string>{{0,0},{87,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huosheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,188}</string>
                <key>spriteSourceSize</key>
                <string>{160,188}</string>
                <key>textureRect</key>
                <string>{{87,0},{160,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kapian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,190}</string>
                <key>spriteSourceSize</key>
                <string>{260,190}</string>
                <key>textureRect</key>
                <string>{{247,0},{260,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shibai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,188}</string>
                <key>spriteSourceSize</key>
                <string>{160,188}</string>
                <key>textureRect</key>
                <string>{{507,0},{160,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zongjiesuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,168}</string>
                <key>spriteSourceSize</key>
                <string>{296,168}</string>
                <key>textureRect</key>
                <string>{{667,0},{296,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zongjiesuan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,128}</string>
                <key>spriteSourceSize</key>
                <string>{448,128}</string>
                <key>textureRect</key>
                <string>{{963,0},{448,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>总结算页面.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{0,190},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>摆牌页面.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{0,910},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg.png</string>
            <key>size</key>
            <string>{1411,1630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24fa51d7673d662affb56f42f8edca39:18484139b546ca05062df2e90d7cf36b:ba3351e848913f852cb04737e7054a9e$</string>
            <key>textureFileName</key>
            <string>bg.png</string>
        </dict>
    </dict>
</plist>
