<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,74}</string>
                <key>spriteSourceSize</key>
                <string>{126,74}</string>
                <key>textureRect</key>
                <string>{{420,0},{126,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>del.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{300,0},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,602}</string>
                <key>spriteSourceSize</key>
                <string>{720,602}</string>
                <key>textureRect</key>
                <string>{{0,180},{720,602}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{90,0},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,90}</string>
                <key>spriteSourceSize</key>
                <string>{328,90}</string>
                <key>textureRect</key>
                <string>{{220,90},{328,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>retype.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{180,0},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sehngqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,80}</string>
                <key>spriteSourceSize</key>
                <string>{220,80}</string>
                <key>textureRect</key>
                <string>{{0,90},{220,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>input.png</string>
            <key>size</key>
            <string>{720,782}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9080922f5120b29bb38ff61e9a8a0ff3:1b3f8fbbff6e2cc0e5b8c94200a9da5a:6a01e16181a1fd16826e9db02fbc2741$</string>
            <key>textureFileName</key>
            <string>input.png</string>
        </dict>
    </dict>
</plist>
