<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1366,750}</string>
                <key>spriteSourceSize</key>
                <string>{1366,750}</string>
                <key>textureRect</key>
                <string>{{0,0},{1366,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paibei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,234}</string>
                <key>spriteSourceSize</key>
                <string>{154,234}</string>
                <key>textureRect</key>
                <string>{{1366,0},{154,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paibg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,158}</string>
                <key>spriteSourceSize</key>
                <string>{106,158}</string>
                <key>textureRect</key>
                <string>{{1520,0},{106,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paibg.png</string>
            <key>size</key>
            <string>{1626,750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51b92b64d9ba84732248a5b1e485106a:684f5068d4b3b140ee146526a51c46e3:09e9b8c6c9f43d886a919a81282d0bbd$</string>
            <key>textureFileName</key>
            <string>paibg.png</string>
        </dict>
    </dict>
</plist>
