<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>del-c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>del-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{70,0},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duizi-c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{0,408},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duizi-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{276,544},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duizi-l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{276,680},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hulu-c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{0,272},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hulu-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{276,612},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hulu-l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{138,612},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui-c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{0,680},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{0,612},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui-l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{138,544},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>santiao-c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{138,680},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>santiao-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{0,748},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>santiao-l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{0,816},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi-c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{276,748},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{138,816},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi-l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{138,748},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teshupai-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{0,136},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teshupai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{140,0},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ths-c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{0,544},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ths-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{0,340},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ths-l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{276,272},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiezhi-c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{138,340},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiezhi-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{138,272},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiezhi-l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{272,136},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tonghua-c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{276,340},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tonghua-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{138,408},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tonghua-l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{138,476},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wt-c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{0,476},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wt-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{276,476},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wt-l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{138,68}</string>
                <key>textureRect</key>
                <string>{{276,408},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijian-g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{276,0},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{136,136},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paixing.png</string>
            <key>size</key>
            <string>{414,884}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f31ee17476a885de283f78a7fd1b809:70474d08fd49c35cef98017a8f6c3341:6df83d089d18a819f9fad25d322bcbfc$</string>
            <key>textureFileName</key>
            <string>paixing.png</string>
        </dict>
    </dict>
</plist>
