<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{320,60},{160,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_chupai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,80}</string>
                <key>spriteSourceSize</key>
                <string>{220,80}</string>
                <key>textureRect</key>
                <string>{{68,190},{220,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{0,120},{160,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dissolve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{160,60},{160,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_duihua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{68,70}</string>
                <key>textureRect</key>
                <string>{{298,120},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_guan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,86}</string>
                <key>textureRect</key>
                <string>{{220,350},{84,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_huan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{68,70}</string>
                <key>textureRect</key>
                <string>{{0,190},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_huatong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{68,70}</string>
                <key>textureRect</key>
                <string>{{366,120},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ksbp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,130}</string>
                <key>spriteSourceSize</key>
                <string>{136,130}</string>
                <key>textureRect</key>
                <string>{{272,442},{136,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_likai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,80}</string>
                <key>spriteSourceSize</key>
                <string>{220,80}</string>
                <key>textureRect</key>
                <string>{{0,350},{220,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_quxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{228,120},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{0,60},{160,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_readyC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{320,0},{160,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,130}</string>
                <key>spriteSourceSize</key>
                <string>{84,130}</string>
                <key>textureRect</key>
                <string>{{408,442},{84,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,80}</string>
                <key>spriteSourceSize</key>
                <string>{220,80}</string>
                <key>textureRect</key>
                <string>{{0,270},{220,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_shezhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{68,70}</string>
                <key>textureRect</key>
                <string>{{160,120},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_shouhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,80}</string>
                <key>spriteSourceSize</key>
                <string>{220,80}</string>
                <key>textureRect</key>
                <string>{{220,270},{220,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{160,0},{160,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_teshupai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,130}</string>
                <key>spriteSourceSize</key>
                <string>{136,130}</string>
                <key>textureRect</key>
                <string>{{136,442},{136,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_teshupaiC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,130}</string>
                <key>spriteSourceSize</key>
                <string>{136,130}</string>
                <key>textureRect</key>
                <string>{{0,442},{136,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{160,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sss_clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,92}</string>
                <key>spriteSourceSize</key>
                <string>{102,92}</string>
                <key>textureRect</key>
                <string>{{304,350},{102,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sss_btn.png</string>
            <key>size</key>
            <string>{492,572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e889c8129ec697e31b7f7bffa5c9410a:cb71485e79aa383f5df606d5b3faac0d:145719d39d58153d582fcb260e5da8ea$</string>
            <key>textureFileName</key>
            <string>sss_btn.png</string>
        </dict>
    </dict>
</plist>
