<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jb_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{183,117}</string>
                <key>spriteSourceSize</key>
                <string>{189,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{183,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{183,117}</string>
                <key>spriteSourceSize</key>
                <string>{189,117}</string>
                <key>textureRect</key>
                <string>{{186,1},{183,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{183,117}</string>
                <key>spriteSourceSize</key>
                <string>{189,117}</string>
                <key>textureRect</key>
                <string>{{371,1},{183,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jinbi.png</string>
            <key>size</key>
            <string>{555,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7197ccd617b261e7b8f58bef0d9ad7a8:dade8a78d9aefd77266c751ebae1bb18:623324867643c00c9de7ce2df641103a$</string>
            <key>textureFileName</key>
            <string>jinbi.png</string>
        </dict>
    </dict>
</plist>
