<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yb_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{183,117}</string>
                <key>spriteSourceSize</key>
                <string>{189,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{183,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{183,117}</string>
                <key>spriteSourceSize</key>
                <string>{189,117}</string>
                <key>textureRect</key>
                <string>{{186,1},{183,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{183,117}</string>
                <key>spriteSourceSize</key>
                <string>{189,117}</string>
                <key>textureRect</key>
                <string>{{371,1},{183,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yuanbao.png</string>
            <key>size</key>
            <string>{555,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:305c855f773c74c5b31a6e258e78676f:115f215c360c01ca8ce9080513e2149a:c3ab52026a4f109cce0aa4a661ad5278$</string>
            <key>textureFileName</key>
            <string>yuanbao.png</string>
        </dict>
    </dict>
</plist>
