<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanjun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,77}</string>
                <key>spriteSourceSize</key>
                <string>{87,77}</string>
                <key>textureRect</key>
                <string>{{0,0},{87,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huosheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,188}</string>
                <key>spriteSourceSize</key>
                <string>{160,188}</string>
                <key>textureRect</key>
                <string>{{87,0},{160,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kapian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,190}</string>
                <key>spriteSourceSize</key>
                <string>{260,190}</string>
                <key>textureRect</key>
                <string>{{247,0},{260,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,188}</string>
                <key>spriteSourceSize</key>
                <string>{160,188}</string>
                <key>textureRect</key>
                <string>{{507,0},{160,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shibai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,188}</string>
                <key>spriteSourceSize</key>
                <string>{160,188}</string>
                <key>textureRect</key>
                <string>{{667,0},{160,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zongjiesuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,168}</string>
                <key>spriteSourceSize</key>
                <string>{296,168}</string>
                <key>textureRect</key>
                <string>{{0,190},{296,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zongjiesuan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,128}</string>
                <key>spriteSourceSize</key>
                <string>{448,128}</string>
                <key>textureRect</key>
                <string>{{296,190},{448,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg.png</string>
            <key>size</key>
            <string>{827,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7c9543a3ce210488dba1eb2171fd1aa:45b49f31714ff88d4718af6b4bddd183:ba3351e848913f852cb04737e7054a9e$</string>
            <key>textureFileName</key>
            <string>bg.png</string>
        </dict>
    </dict>
</plist>
