<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_caozuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,486}</string>
                <key>spriteSourceSize</key>
                <string>{720,486}</string>
                <key>textureRect</key>
                <string>{{0,562},{720,486}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_input.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{0,216},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_num.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{120,130},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_numC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{0,130},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{0,306},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,60}</string>
                <key>spriteSourceSize</key>
                <string>{230,60}</string>
                <key>textureRect</key>
                <string>{{728,0},{230,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{840,216},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_closeC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{930,216},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_del.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{230,60},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_delC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{470,60},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,60}</string>
                <key>spriteSourceSize</key>
                <string>{230,60}</string>
                <key>textureRect</key>
                <string>{{0,60},{230,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_jz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,60}</string>
                <key>spriteSourceSize</key>
                <string>{230,60}</string>
                <key>textureRect</key>
                <string>{{268,0},{230,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_retype.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{590,60},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_retypeC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{350,60},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,60}</string>
                <key>spriteSourceSize</key>
                <string>{230,60}</string>
                <key>textureRect</key>
                <string>{{498,0},{230,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>creatroom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,86}</string>
                <key>spriteSourceSize</key>
                <string>{304,86}</string>
                <key>textureRect</key>
                <string>{{696,130},{304,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,48}</string>
                <key>spriteSourceSize</key>
                <string>{138,48}</string>
                <key>textureRect</key>
                <string>{{0,0},{138,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_caozuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,80}</string>
                <key>spriteSourceSize</key>
                <string>{58,80}</string>
                <key>textureRect</key>
                <string>{{498,130},{58,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_guanli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,80}</string>
                <key>spriteSourceSize</key>
                <string>{58,80}</string>
                <key>textureRect</key>
                <string>{{440,130},{58,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,80}</string>
                <key>spriteSourceSize</key>
                <string>{58,80}</string>
                <key>textureRect</key>
                <string>{{556,130},{58,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inputbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,566}</string>
                <key>spriteSourceSize</key>
                <string>{720,566}</string>
                <key>textureRect</key>
                <string>{{0,1048},{720,566}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{614,130},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,90}</string>
                <key>spriteSourceSize</key>
                <string>{250,90}</string>
                <key>textureRect</key>
                <string>{{340,216},{250,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_kp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,256}</string>
                <key>spriteSourceSize</key>
                <string>{450,256}</string>
                <key>textureRect</key>
                <string>{{536,306},{450,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oneclub_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,90}</string>
                <key>spriteSourceSize</key>
                <string>{250,90}</string>
                <key>textureRect</key>
                <string>{{590,216},{250,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oneclub_bgC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,90}</string>
                <key>spriteSourceSize</key>
                <string>{250,90}</string>
                <key>textureRect</key>
                <string>{{90,216},{250,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pyq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,50}</string>
                <key>spriteSourceSize</key>
                <string>{130,50}</string>
                <key>textureRect</key>
                <string>{{138,0},{130,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sss_kp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,248}</string>
                <key>spriteSourceSize</key>
                <string>{440,248}</string>
                <key>textureRect</key>
                <string>{{96,306},{440,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanfa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,70}</string>
                <key>spriteSourceSize</key>
                <string>{200,70}</string>
                <key>textureRect</key>
                <string>{{710,60},{200,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanfaC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,76}</string>
                <key>spriteSourceSize</key>
                <string>{200,76}</string>
                <key>textureRect</key>
                <string>{{240,130},{200,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>club.png</string>
            <key>size</key>
            <string>{1020,1614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e4e535ad5c3917d734a287920fa59ee:5472f41048ea1281f9b199614b365ddb:f96dceace1f310c2dfd347ad204db821$</string>
            <key>textureFileName</key>
            <string>club.png</string>
        </dict>
    </dict>
</plist>
